package.json
package-lock.json
shrinkwrap.yml
version.ts
dndSim.js
packages/tslint-rules/tslint.json

*.d.ts
*.api.md
*.scss.ts
_*.scss

lib
lib-amd
lib-esm
lib-commonjs
dist
node_modules
common/changes
common/scripts